body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  background-color: #365888;
}

.container {
  background-color: #1f70e0;
  color: white;
  width: 100%;
  max-width: 660px;
  margin: auto;
  padding: 20px;

  border-radius: 8px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.select-button {
  width: 25%;
  padding: 10px;
  background-color: #2e1fe0;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 10px;
  transition: 0.3s;
}

.select-button:hover {
  background-color: #2415c7;
  transition: 0.3s;
}

.convert-container {
  display: flex;
}

.btn {
  width: 100%;
  background-color: #2e1fe0;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  padding: 10px;
  margin: 5px;
}

.btn:hover {
  background-color: #2415c7;
  transition: 0.3s;
}

.image-output {
  width: 100%;
  height: 15rem;
  margin-top: 0;
  margin-bottom: 0;
}

.image-output:not(:empty) {
  margin-top: 50px;
  margin-bottom: 50px;
}

.result {
  display: flex;
}

.img-input {
  height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
}

.hide-element {
  display: none;
}

:root {
  --toastBackground: #1f70e0;
  --toastColor: white;
  --toastBarBackground: #2e1fe0;
}
